<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <link rel="stylesheet" href="css/aboutus.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
     <!-- <link rel="stylesheet" href="/static/predict.css"> 
    <link rel="stylesheet" href="/static/aboutus.css">
    <link rel="stylesheet" href="/static/analysis.css">
    <link rel="stylesheet" href="/static/contactus.css">  -->
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/images/img_7.jpg" alt="Heart Disease Prediction Logo"">
        </div>
        <div id="title">
            <strong><u><a href="index.html">Heart Disease Predictor</a></u></strong>
        </div>
        <ul>
            <!-- <li class="item"><a href="#">Heart Disease Predictor</a></li> -->
            <li class="item"><a href="predict.html">Predictor</a></li>
            <!-- <li class="item"><a href="analysis.html">Analysis</a></li> -->
            <li class="item"><a href="blog.html">Blog</a></li>
            <!-- <li class="item"><a href="aboutus.html">About Us</a></li> -->
        </ul>
    </nav>
    <h1>About Us Page.</h1>
</body>
</html>