<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
     <link rel="stylesheet" href="css/predict.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/predict.css">
    <link rel="stylesheet" href="/static/aboutus.css">
    <link rel="stylesheet" href="/static/analysis.css">
    <link rel="stylesheet" href="/static/contactus.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/images/img_7.jpg" alt="Heart Disease Prediction Logo">
        </div>
        <div id="title">
            <strong><u><a href="index.html">Heart Disease Predictor</a></u></strong>
        </div>
        <ul>
          <li class="item"><a href="#">Heart Disease Predictor</a></li>
            <li class="item"><a href="predict.html">Predictor</a></li>
            <!-- <li class="item"><a href="analysis.html">Analysis</a></li> -->
            <li class="item"><a href="blog.html">Blog</a></li>
            <!-- <li class="item"><a href="aboutus.html">About Us</a></li> -->
        </ul>
    </nav>
    <div class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="col-md-6 px-0">
          <h2 class="display-4 fst-italic">World Heart Day: Heart Disease and India | KDAH Blog</h2>
          <p class="lead my-3">Statistics suggest that the occurrence of heart disease among the youth has increased at a rate of 24.8 per cent in the past decade.</p>
          <p class="lead mb-0"><a href="https://www.kokilabenhospital.com/blog/world-heart-day/" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger">Apollo Hospitals</strong>
          <h3 class="mb-0">8 Things To Do To Keep Your Heart Healthy</h3>
          <div class="mb-1 text-muted">09 May 2019</div>
          <p class="card-text mb-auto">From an irregular diet to sitting behind a desk at your 9 to 5 job, there are multiple issues in an average Indian’s lifestyle which have led to the current predicament.</p>
          <a href="https://delhi.apollohospitals.com/blog/8-things-to-do-to-keep-your-heart-healthy/" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/static/images/blog2.png" alt="" width="200" height="250">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger">Times Of India</strong>
          <h3 class="mb-0">The Rise of Heart Failure – an Urgent Need to Spread Awareness</h3>
          <div class="mb-1 text-muted">06 Jan 2022</div>
          <p class="mb-auto">When doctors diagnose patient with heart failure, they often feel devastated and consider it as the end of the world. However, it is a silent disease.</p>
          <a href="https://timesofindia.indiatimes.com/life-style/health-fitness/health-news/the-rise-of-heart-failure-an-urgent-need-to-spread-awareness/articleshow/88730228.cms" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <img src="/static/images/blog3.png" alt="" width="200" height="250">
        </div>
      </div>
    </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>